@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,500;0,600;0,700;0,800;1,300&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");


* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  --basic-font-size: 1rem;
  --section-padding: 20px;
}

body {
  max-width: 950px;
  /* margin: auto; */
  box-shadow: 0 0 25px rgba(68, 68, 68, 0.428);
}

header {
  width: 100%;
  position: relative;
  height: 250px;
  overflow: hidden;
}

header > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(2px);
  transform: scale(1.1);
  transition: filter 1650ms ease, transform 650ms ease;
}

header:hover > img {
  filter: blur(10px);
  transform: scale(1.8);
}

header > div {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  gap: 10%;
  justify-content: center;
  align-items: center;
  color: white;
  text-transform: uppercase;
  background-color: rgba(247, 57, 57, 0.2);
  /* 34, 122, 159, 0.5 pour la version bleue et 255, 255, 255, 0.6 rend bien aussi */
}

header #profile {
  height: 200px;
  width: 350px;
  border-radius: 100%;
  overflow: hidden;
  padding-left: 1rem;
}

header #profile > img {
  height: 105%;
  width: 100%;
  border-radius: 100%;
  transform: scale(1);
  transition: transform 1650ms ease;
}

header:hover #profile > img {
  transform: scale(1.4);
}

header > div h1 {
  font-weight: 800;
  padding-bottom: 10px;
  font-size: calc(var(--basic-font-size) * 3);
}
header > div span {
  font-size: calc(var(--basic-font-size) * 1.6);
}

#content {
  padding-top: 1rem;
  padding-bottom: 1.2rem; 
  padding-right: 1rem;
  display: flex;
  font-weight: lighter;
  min-height: calc(100vh - 250px);
}
 
.bottom {
  display: flex;
  gap: 150px;
}

.top {
  display: flex;
  gap: 100px;
}

#content h3 {
  color: #7c8587;
  font-weight: 600;
  text-transform: uppercase;
  font-size: calc(var(--basic-font-size) * 1.2);
  margin-bottom: 20px;
}

#content h3::after {
  content: "";
  width: 8vw;
  height: 5px;
  background-color: #7c8587;
  display: block;
  margin-top: 10px;
}

#content p, #content ul li, #content ul li span {
  font-size: var(--basic-font-size);
  font-weight: 300;
}

#content ul {
  list-style-position: inside;
}

#content ul.no-style {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

#content ul.icons {
 gap: 10px;
}

#content ul.no-style li span, #content ul.no-style li a {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-decoration: none;
  color: black;
}

#content ul.no-style li {
  font-size: var(--basic-font-size);
  display: flex;
  align-items: center;
  gap: 5px
}

#content ul.no-style li i {
  background-color: black;
  color: white;
  padding: calc(var(--basic-font-size) / 3);
  border-radius: calc(var(--basic-font-size) / 3); 
}

/*
#content .no-style_hobbies {
padding: 
}
*/

#content ul.no-style_hobbies li span, #content ul.no-style_hobbies li a {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-decoration: none;
  color: black;
}

#content ul.no-style_hobbies li {
  font-size: var(--basic-font-size);
  display: flex;
  align-items: center;
  gap: 5px
}

#content ul.no-style_hobbies li i {
  background-color: black;
  color: white;
  padding: calc(var(--basic-font-size) / 3);
  border-radius: calc(var(--basic-font-size) / 3); 
}

ul.no-style_hobbies li {
    display: flex !important;       
    flex-direction: row;         
    align-items: flex-start;     
    width: 100%;
    margin-bottom: 15px;  
}

#content ul.icons li i {
    flex-shrink: 0;             
    margin-right: 10px;  
    margin-top: 3px;             
}

#content ul.icons li a {
    flex: 1;
    white-space: normal !important; 
    word-wrap: break-word;          
    display: block;          
}

#content ul.icons li {
    display: flex !important;       
    flex-direction: row;         
    align-items: flex-start;     
    width: 100%;
    margin-bottom: 15px;  
}

ul.no-style_hobbies li i {
    flex-shrink: 0;             
    margin-right: 10px;  
    margin-top: 3px;             
}

ul.no-style_hobbies li a {
    flex: 1;
    white-space: normal !important; 
    word-wrap: break-word;          
    display: block;          
}

#content section {
 padding: var(--section-padding) 0 var(--section-padding) var(--section-padding);
}

#content aside em {
  color: rgb(0, 0, 0);
  font-style: oblique;
}

#content aside section:last-child {
  padding-bottom: var(--section-padding);
}

#content section.coordonnees, #content section.experiences_pro {
  padding-left: 5px;
}

aside {
  width: 30%;
}

main {
  width: 70%;
  background-color: #efefef;
}

main article h4 {
  font-size: calc(var(--basic-font-size) * 1.1);
  font-weight: 700;
}

main article h4 + span {
  text-transform: uppercase;
  font-size: var(--basic-font-size);
  font-weight: 200;
  margin-bottom: 10px;
  display: block;
}

@media screen and (max-width: 890px) {
  * {
    --section-padding: 10px;
  }
  header > div {
    flex-direction: column;
    text-align: center;
  }
  header > div h1 {
    font-size: calc(var(--basic-font-size) * 2);
  }
  header > div span {
    font-size: calc(var(--basic-font-size) * 1.2);
  }
  header #profile {
    height: 100px;
    width: 100px;
  }
  #content {
    flex-direction: column-reverse;
  }
  aside {
    width: 100%;
  }
  main {
    width: 100%;
  }
}

@media screen and (min-width: 950px) {
  body {
    margin: 20px auto 20px auto;
  }
}

@media print {
  @page {
    margin: 0;
  }
  body {
    box-shadow: none;
  }
}

